<a href="https://colab.research.google.com/github/KuganParthiban/portfolio_projects/blob/main/House_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [ ]:
df_train.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            2016 non-null   int64
 1   baths           2016 non-null   float64
 2   size            2016 non-null   float64
 3   size_units      2016 non-null   object
 4   lot_size        1669 non-null   float64
 5   lot_size_units  1669 non-null   object
 6   zip_code        2016 non-null   int64
 7   price           2016 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 126.1+ KB

In [ ]:
df_train.shape

(2016, 8)

In [ ]:
df_train.isnull().sum()

beds                0
baths               0
size                0
size_units          0
lot_size          347
lot_size_units    347
zip_code            0
price               0
dtype: int64

In [ ]:
(df_train.isnull().sum()/len(df_train))

beds              0.000000
baths             0.000000
size              0.000000
size_units        0.000000
lot_size          0.172123
lot_size_units    0.172123
zip_code          0.000000
price             0.000000
dtype: float64

In [ ]:
(df_train.isnull().sum()/len(df_train))

beds              0.000000
baths             0.000000
size              0.000000
size_units        0.000000
lot_size          0.172123
lot_size_units    0.172123
zip_code          0.000000
price             0.000000
dtype: float64

In [ ]:
df_train = df_train.dropna()
df_test = df_test.dropna()

In [ ]:
df_train.describe()

,beds,baths,size,lot_size,zip_code,price
count,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,1.669000e+03
mean,3.122229,2.294488,1893.097663,3871.059694,98124.519473,1.038475e+06
std,1.186723,1.008658,916.952780,2719.402066,23.159993,1.007944e+06
min,1.000000,0.500000,250.000000,0.230000,98101.000000,1.590000e+05
25%,2.000000,1.500000,1260.000000,1252.000000,98108.000000,6.800000e+05
50%,3.000000,2.000000,1719.000000,4000.000000,98117.000000,8.650000e+05
75%,4.000000,3.000000,2360.000000,6000.000000,98126.000000,1.175000e+06
max,15.000000,9.000000,11010.000000,9998.000000,98199.000000,2.500000e+07

In [ ]:
df_train.columns

Index(['beds', 'baths', 'size', 'size_units', 'lot_size', 'lot_size_units',
       'zip_code', 'price'],
      dtype='object')

In [ ]:
df_train['lot_size_units'].unique()

array(['sqft', 'acre'], dtype=object)

In [ ]:
df_train['lot_size_units'].value_counts()

sqft    1449
acre     220
Name: lot_size_units, dtype: int64

In [ ]:
df_train['zip_code'] = df_train['zip_code'].astype(str)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1669 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            1669 non-null   int64
 1   baths           1669 non-null   float64
 2   size            1669 non-null   float64
 3   size_units      1669 non-null   object
 4   lot_size        1669 non-null   float64
 5   lot_size_units  1669 non-null   object
 6   zip_code        1669 non-null   object
 7   price           1669 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 117.4+ KB

In [ ]:
df_train.columns

Index(['beds', 'baths', 'size', 'size_units', 'lot_size', 'lot_size_units',
       'zip_code', 'price'],
      dtype='object')

In [ ]:
df_train.columns

Index(['beds', 'baths', 'size', 'size_units', 'lot_size', 'lot_size_units',
       'zip_code', 'price'],
      dtype='object')

In [ ]:
df_train['size_units'].value_counts()

sqft    1669
Name: size_units, dtype: int64

In [ ]:
df_acre = df_train.loc[df_train['lot_size_units']=='acre']
df_acre

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
5,2,2.0,1190.0,sqft,1.00,acre,98107,740000.0
25,2,1.5,889.0,sqft,0.23,acre,98103,680000.0
33,2,2.0,871.0,sqft,0.29,acre,98119,430000.0
37,5,5.0,2510.0,sqft,0.27,acre,98133,1000000.0
...,...,...,...,...,...,...,...,...
1980,1,1.0,865.0,sqft,1.26,acre,98112,712500.0
1998,4,3.5,4990.0,sqft,0.25,acre,98112,4815000.0
2006,2,2.0,839.0,sqft,0.53,acre,98125,385000.0
2010,2,2.0,1400.0,sqft,0.34,acre,98199,699950.0
2011,3,2.0,1370.0,sqft,0.50,acre,98112,910000.0

In [ ]:
df_acre['lot_size']=(df_acre['lot_size']*43560,inplace=True)
df_acre.head()

SyntaxError: ignored